<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div class="container mt-3 ">
        <div id="lista-compras" class="w-50 m-auto ">
             <div class="header">
                <h1 class="text-md-center text-center">{{ header.toLocaleUpperCase() }}</h1>
            </div>
            <div v-if="estado === 'edit' " class="entrada">
                <input type="text" placeholder="Agregar objetos" v-model="newUtil" @keyup.enter="añadirUtil()"  class="  col-12 col-sm-6 col-xl-8 form-control d-inline-block mb-3 ml-3">
                <input type="submit" v-bind:disabled="newUtil.length ===0" value="Añadir" @click="añadirUtil()" class=" btn btn-success col-xl-3 col-sm-2 col-12 mt-0 font-weight-bold">
            </div>
            
            <ul>
                <li v-for="elem in utiles" :class="{tachado: elem.comprado}" class="text-success font-weight-bold " @click="cambiarEstadoCompra(elem)">{{elem.util}}</li>
            </ul>
            <p v-if="utiles.length === 0" class="col-auto  p-2 bg-danger text-white rounded mt-4 text-center font-weight-bold">No existen elementos en la lista</p>
        <div class=" d-flex justify-content-between">
            <button v-if="estado === 'default'" class=" btn btn-primary col-xl-5 col-lg-5 col-md-5 mt-2 mb-3" @click="cambiarEstado('edit')">Agregar</button>
            <button v-else class="btn btn-cancel bg-secondary col-xl-6 col-sm-2 col-12 mb-3 text-white" @click="cambiarEstado('default')">Cancelar</button>
            <button v-if="estado === 'default'" class="btn btn-danger col-xl-5 col-lg-5 col-md-5 mt-2 mb-3 " @click="cambiarEstado('default'), limpiar()">Limpiar</button>
        </div>
        </div>
    </div><!--container-->

    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:'#lista-compras',
            data:{
                header:'Lista de Compras',
                newUtil:'',
                estado:'default',
                utiles:[],
               
            },
            methods:{
                añadirUtil:function(){
                    
                    let materiales=    {
                            util:this.newUtil,
                            comprado:false
                         }
                    
                    this.utiles.push(materiales);
                   
                    
                    /*this.utiles.push(
                        {
                            util:this.newUtil,
                            comprado:false
                         }
                    );*/
                    this.newUtil = '';
                
                },
                cambiarEstado:function(newEstado){
                    this.estado = newEstado;
                    this.newUtil = '';
                },
                cambiarEstadoCompra:function(util){     
                    util.comprado = !util.comprado;
                },
                limpiar:function(){
                    this.utiles=[];
                }
            }
        });
    </script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script></body>
</html>